// Inital setup

body,
html {
  background: #f9f9fa;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 1rem;
}

// Typography

.title--medium {
  font-size: 18px;
  font-weight: bold;
  margin: 0.5rem 0rem;
}

.title--large {
  font-size: 30px;
  font-weight: bold;
  margin: 0.6rem 0rem;
}

.title--huge {
  font-size: 50px;
  font-weight: bold;
}

.author-label {
  text-decoration: underline;
}

.metric-label {
  color: grey;
  font-size: 14px;
  font-weight: bolder;
  margin: 0 0.8rem;
}

// Banner

.banner {
  background: white;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 5px 6px 0px#000000;
  padding: 1.5rem 0rem;
  text-align: center;
}

// Layout

.container {
  padding: 0 0.25rem;

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 0 3rem;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    padding: 0 6rem;
  }

  @media screen and (min-width: 1201px) {
    padding: 0 9rem;
  }
}

.item--centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.column-container {
  display: flex;
}

.column {
  padding: 0.75rem;

  &__left {
    flex: 1;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  &__right {
    flex: 1;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__middle {
    flex: 3;
  }
}

.card {
  background: white;
  border-radius: 3px;
  border: 2px solid rgb(181, 181, 181);
  box-shadow: 3px 3px 0px rgb(135, 135, 135);
  margin-bottom: 1rem;

  &--small {
    padding: 0.4rem 1rem;
  }

  &--medium {
    padding: 0.8rem 1.6rem;
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.button {
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 0.3rem;

  &--blue {
    background: blue;
    color: white;
  }
}

.image {
  max-width: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Footer

.footer {
  background: blue;
  color: white;
  padding: 0.4rem;
  text-align: center;
}
