// Inital setup

body,
html {
  background: #f9f9fa;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 1rem;
}

.banner {
  background: white;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 5px 6px 0px#000000;
  padding: 1.5rem 0rem;
  text-align: center;
}

.title--medium {
  font-size: 18px;
  font-weight: bold;
}

.title--large {
  font-size: 30px;
  font-weight: bold;
}

.title--huge {
  font-size: 50px;
  font-weight: bold;
}

.container {
  padding: 0 0.25rem;

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 0 3rem;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    padding: 0 6rem;
  }

  @media screen and (min-width: 1201px) {
    padding: 0 9rem;
  }
}

.container__general {
  padding: 0.75rem;
}

footer {
  border: 2px solid gold;
  padding: 0.8rem;
  text-align: center;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
}

.article-list {
  flex: 3;
}

.card {
  background: white;
  border-radius: 3px;
  border: 2px solid rgb(181, 181, 181);
  box-shadow: 3px 3px 0px rgb(135, 135, 135);
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
}

.large-card {
  padding: 0.8rem 1.6rem;
}

.card-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card-metric {
  color: grey;
  font-size: 14px;
  font-weight: bolder;
  margin: 0 0.8rem;
}

.button {
  background: blue;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 0.3rem;
}

.image {
  max-width: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.posted-by {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .right-side {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .left-side {
    display: none;
  }
}
