/* 
font-family: 'Montserrat', sans-serif;
font-family: 'IBM Plex Serif', serif; 
*/

/* Global fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.title--large {
  font-size: 3rem;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'IBM Plex Serif', serif; 
}

nav {
  padding: 0.8rem;
  text-align: center;
  border: 2px solid gold;
}

.container {
  padding: 0 3rem;
}

.container__general {
  padding: 0.2rem;
}

footer {
  text-align: center;
  padding: 0.8rem;
  border: 2px solid gold;
}

.main-container {
  display: flex;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
}

.article-list {
  flex: 4;
}

.card {
  border: 1px solid #f2f2f2;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
}
